<div class="form-container">
  <h1 style="color: #161925">Helmes</h1>
  <form
    #searchForm="ngForm"
    (ngSubmit)="onSearch(searchField.value, searchForm)"
  >
    <label>
      <input
        #searchField
        [disabled]="!(users.length > 0)"
        autocomplete="off"
        class="search-input"
        name="search"
        ngModel
        placeholder="Search"
        type="text"
      />
    </label>
    <button class="button" type="submit">
      <fa-icon [icon]="icon" class="icon"></fa-icon>
    </button>
  </form>
  <div style="margin-right: 10px">
    <p
      *ngFor="let lastSearch of lastSearches"
      [routerLink]="[lastSearch.userName]"
      class="search-paragraph"
    >
      {{ lastSearch.userName }}
    </p>
  </div>
  <p *ngIf="!exists && clicked" style="color: red">User Doesn't Exists</p>
</div>
