.form-container {
  margin: 3rem auto;
  width: 30%;
  display: flex;
  justify-content: space-evenly;
  flex-direction: column;
  align-items: center;
}

h1 {
  text-align: center;
  margin: 0 auto;
  letter-spacing: 3px;
}

.button {
  background-color: #fdfffc;
  outline: none;
  border: hidden;
  cursor: pointer;
}

.search-input {
  padding: 10px;
  margin-top: 50px;
  border: hidden;
  border-bottom: 2px solid #484d6d;
  outline: none;
  transition: all 0.2s;
  vertical-align: bottom;
  background-color: #fdfffc;
}

.search-input:focus,
.search-input:active {
  border-color: #f9a03f;
}

.search-input[disabled],
.search-input:focus,
.search-input:active,
.search-input:hover,
.search-input:-webkit-autofill {
  background-color: #fdfffc;
}

.icon {
  position: absolute;
  font-size: 20px;
  top: 160px;
  transition: color 0.2s;
  color: #484d6d;
}

.icon:hover {
  color: #f9a03f !important;
}

p {
  display: inline-block;
  margin-left: 5px;
}

.search-paragraph {
  color: #c6a15b;
  transition: color 0.2s;
  cursor: pointer;
  font-weight: bolder;
}

.search-paragraph:hover {
  color: #d9ba7b;
}
