<div class="users-list">
  <div class="heading">
    <h2>Github most popular users</h2>
    <div class="grid-icons">
      <fa-icon
        (click)="changeToList()"
        [icon]="listIcon"
        [ngClass]="isList ? 'focusMode' : null"
        class="icon"
      ></fa-icon>
      <fa-icon
        (click)="changeToGrid()"
        [icon]="gridIcon"
        [ngClass]="isGrid ? 'focusMode' : null"
        class="icon"
      ></fa-icon>
    </div>
  </div>
  <div [ngClass]="!isList ? 'container' : null">
    <app-spinner *ngIf="isLoading"></app-spinner>
    <app-user
      *ngFor="let user of userArr"
      [viewMode]="isList"
      [ngClass]="!isList ? 'app-user' : null"
      [repos]="user.repos"
      [user]="user"
    ></app-user>
  </div>
</div>
