<div [ngClass]="viewMode ? 'user' : 'user-shrink'">
  <div [ngClass]="viewMode ? 'image' : 'image-shrink'">
    <img
      [ngClass]="viewMode ? 'img' : 'img-shrink'"
      src="{{ user.avatar_url }}"
    />
  </div>

  <div [ngClass]="viewMode ? 'name' : 'name-shrink'">
    <a [routerLink]="[user.login]"
      ><span style="font-weight: bold"> {{ user.login }}</span></a
    >
    <p>{{ user.type }}</p>
  </div>

  <div [ngClass]="viewMode ? 'repos' : 'repos-shrink'">
    <h2>User repositories</h2>
    <a
      *ngFor="let repo of repos"
      class="repo-shrink"
      href="{{ repo.html_url }}"
      target="_blank"
      >{{ repo.name }}</a
    >
    <p *ngIf="repos.length === 0">Repositories not found</p>
  </div>
</div>
